/* h1 {text-align: center;}  */
body {background-color: rgb(255, 210, 189);
    font-family:Optima, sans-serif;}
h1 {color: rgb(128, 0, 6);
   text-align: center;
   font-family:Optima, sans-serif;
   border: 2px solid black;
   margin: 20px;
   padding: 20px;}
p {color: rgb(128, 0, 6);
  font-family:Optima, sans-serif;
  margin: 20px;
  padding: 20px;}

